@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap");

.box-main-hasiltest {
  background-image: url(../../component/image/background_hasiltest.jpg);
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  color: antiquewhite;
}

.nama-kepribadian {
  color: antiquewhite;
  text-align: center;
  padding: 10vh 0 5vh 0;
  font-size: 5rem;
}

.box-rekomendasi {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 0 10vh 0;
}

.rekomendasi-jurusan {
  font-size: 1.5rem;
  text-shadow: 1px 1px 3px #000;
}

.box-deskripsi {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 4vh 0;
}

.deskripsi {
  text-align: center;
  padding: 0 5vw;
  margin: 2vh 10vw;
  font-size: 1.5rem;
  text-shadow: 1px 1px 3px #000;
}

/*loader*/
.loading {
  text-align: center;
  padding: 100px;
}
.loader {
  text-align: center;
  width: 48px;
  height: 48px;
  border: 5px solid #393939;
  border-bottom-color: #f3ebe2;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
